<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <title>My Portfolio</title>
</head>
<body class="bg-black --tw-bg-opacity: 1; background-color: rgba(11, 10, 15, var(--tw-bg-opacity)); box-border box-sizing: border-box;">
    <header class="h-20	height: 5rem; bg-white background-color: rgba(255 255 255); flex flex-row justify-between items-start">
        <nav>
            <ul>
                <li>
                    <a class="" href="#">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <h1 class="text-white color: rgb(255 255 255);">portfolo</h1>
    </section>


</body>
</html>