<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <title>Kene's Portfolio</title>
     <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/site-icon.png"
    />
</head>
<body class="">
    <!-- header section -->
    <header class="">
        <nav>
            <ul class="flex justify-between">
                <div class="flex left-nav">
                    <li>
                        <a class=""  href="#"><img src="./images/logo-white2.png" alt="kene's logo; the letter K in white color"></a>
                    </li>
                    <li class="flex mr-60">
                        <i class="ph-gift" style="color: #9D9D9F; font-size: 20px;"></i> 
                        <a href="#"><p class="ml-2.5 pt-2.5 mr-2.5 collectibles">Collectibles</p></a>
                    </li>
                </div>
                
                <div class="flex right-nav">
                    <li class="flex">
                        <i class="ph-file-pdf mt-2.5 mr-2.5" style="color: #9D9D9F; font-size: 20px;"></i> 
                        <a href="#"><p class="ml-1.5 pt-2.5 resume">My Resumé</p></a>
                        
                    </li>
                    <li class="flex">
                        <i class="ph-envelope-open mt-2.5 mr-2.5" style="color: #9D9D9F; font-size: 20px;"></i>
                        <a class="" href="#"><p class="ml-1.5 pt-2 resume">Contact</p></a>
                    </li>
                    <div class="sun-circle">
                        <li>
                            <a class="" href="#"><i class="ph-sun-dim-fill" style="color: #9D9D9F; font-size: 20px;"></i></a>
                        </li>
                    </div>
                </div>
            </ul>
        </nav>
    </header>
    <!-- end header section -->

    <!-- hero section -->
    <section class="flex hero-container">
        <section class="flex profile-section">
            <!-- profile area -->
            <section>
                
                <div class="profile-text-section" id="about-bio">
                    <p class="">
                        Hello. I'm Kene. <br> A product designer with over two <br> years of experience; creating and <br> shipping products people love. 
                    </p>
                    <div>
                        <p>Press <a href="" class="keypress-btn" id="keypress-btn">E</a> to learn about my experience</p>
                        <p>Press <a href="" class="keypress-btn">S</a> to learn about my skills</p>
                    </div>
                </div>
                
                <!-- hidden by default -->
                <div class="work-history" id="work-history">
                    <div class="profile-text-section">
                        <p class="experience-text">
                            Since 2020, I’ve worked directly with founding <br> members and teams – in real estate, sports analytics, <br> creator economy, venture capital and most recently, <br> supply chain finance – through all phases of the <br> product development cycle to iteratively build and <br>  maintain products that scale with the business.
                        </p>
                        <p class="article-text">See article: <span> Pivo raises $2 million seed round</span> . Aug 28, 2022</p>
                    </div>
                 
                    <div class="mt-10">
                        <p class="experience-text-2 mb-10 reset-text">Press <a href="" class="keypress-btn reset-btn">R</a> to reset</p>
                        <p class="experience-text-2">Press <a href="" class="keypress-btn">S</a> to learn about my skills</p>
                    </div>

                </div>
                
                <div class="skill" id="skill">
                    <div class="profile-text-section">
                        <p class="experience-text">
                            As a professional designer, I am skilled at finding creative solutions to problems, thinking outside the box, and effectively organising my work. My passion for design is evident in my portfolio which showcases the value I can bring to any team. Hover on some of my favourite design tools 👉🏾 to see how we can use them to create magic together
                        </p>
                        <div class="">
                            <p class="experience-text3">Press <a href="" class="keypress-btn">E</a> to learn more about my experience</p>
                            <p class="reset-text">Press <a href="" class="keypress-btn reset-btn">R</a> to reset</p>
                        </div>
                    </div>
                    
                </div>
                
            </section>

            <section class="profile-section2">
                <div class="profile-image-section">
                    <img class="profile-image" src="./images/profile-image.png" alt="an illustration of kene wearing glasses judt off his face">
                </div>
                <div class="flex">
                    <div class="skills-background ae-btn-hover ae-btn" id="ae-btn">
                        <a href=""><img src="./images/ae.png" class="ae-icon" id="ae-icon" alt="An image with letters ae in purple gradient on a black background" ></a> 
                        <!-- hidden by default -->
                        <a href=""><img src="./images/aehover.png" class="ae-icon-hover" id="ae-icon-hover" alt="An image with letters ae in a light blue color on a dark blue background"></a>   
                        <div class="ae-text" id="ae-text">
                            <p>I’ve dedicated time to mastering all of After Effects’ compositing, animation, and special effects tools, and have used them to create engaging content in form of gifs and videos.</p>
                        </div>
                    </div>
                    
                    <div class="skills-background ai-btn-hover ai-btn" id="ai-btn">
                        <a href=""><img src="./images/ai.png" class="ai-icon" id="ai-icon" alt="An image with letters ai in purple gradient on a black background"></a>
                        <!-- hidden by default -->
                        <a href=""><img src="./images/ai-hover.png" class="ai-icon-hover" id="ai-icon-hover" alt="An image with letters ai in purple gradient on a black background"></a>
                        <div class="ai-text" id="ai-text">
                            <p>I’ve spent almost four (4) years creating high-quality designs using Adobe Illustrator’s vector graphics tools ranging from captivating brand identities to digital illustrations and custom art</p>
                        </div>
                    </div>
                    <div class="skills-background ps-btn-hover ps-btn" id="ps-btn">
                        <a href=""><img src="./images/ps.png" class="ps-icon" alt="An image with letters ps in purple gradient on a black background"></a>
                        <!-- hidden by default -->
                         <a href=""><img src="./images/ps-hover.png" class="ps-icon-hover" id="ps-icon-hover" alt="An image with letters ps in purple gradient on a black background"></a>
                        <div class="ps-text" id="ps-text">
                            <p>Over the past three (3) years, I have used Photoshop’s photo manipulation  and mock-up tools to create stunning visual designs for a wide range of projects</p>
                        </div>
                    </div>
                    <div class="skills-background figma-btn-hover figma-btn" id="figma-btn">
                        <a href=""><img src="./images/figma-logo.png" class="figma-icon" id="figma-icon" alt="An image with the figma logo in purple gradient on a black background"></a>
                        <!-- hidden by default -->
                        <a href=""><img src="./images/figma-hover.png" class="figma-icon-hover" id="figma-icon-hover" alt="An image with the figma logo in purple gradient on a black background"></a>
                        <div class="figma-text" id="figma-text">
                            <p>Intensive use and understanding of Figma’s collaboration and prototyping features have helped me deliver functional interfaces and experiences  with cross-functional teams.</p>
                        </div>
                    </div>
                </div>
                
                <div class="profile-status mt-16">
                    <div class="flex">
                        <div class="live-btn mt-5"></div>
                        <p class="profile-status-text mt-2.5">Leading design at</p>
                    </div>
                    <img class="mt-2.5" src="./images/pivo-logo.png" alt="an image showing the logo icon for pivo africa in white color"> 
                    
                </div>
            </section>
        </section>
    </section>
    <!-- end hero section -->

    <!-- portfolo section begins-->
    <section class="portfolio-container mb-40 mt-20">
        <ul class="flex">
            <div class="flex portfolio-category">
                <li>
                    <a href=""> 💡 Highlighted Works</a>
                </li>
                <li >
                    <a class="portfolio-category-text" href="">Designing for Growth</a>
                </li>
                <li>
                    <a class="portfolio-category-text" href="">Minimum Viable Products</a>
                </li>
                <li>
                    <a class="portfolio-category-text" href="">Illustrations</a>
                </li>
            </div>

            <!-- filter section  -->
            <div class="flex justify-end filter-section mt-5">
                <i class="ph-list-fill mr-2.5" style="color: white; font-size: 24px;" id="tray-filter"></i>
                <span class="divider"></span>
                <i class="ph-grid-four-thin ml-2.5" style="color: #9D9D9F; font-size: 24px;" id="grid-filter"></i>
            </div>
            <!-- filter section  -->

        </ul>

        <!-- portfolio -->
        <section id="tray">
            <section class="portfolio-card mt-10">
                <section class="flex">
                    <div>
                        <img class="gidigan-image" src="./images/gidigan.png" alt="">
                    </div>
                    <div class="gidigan-info pl-8">
                        <p class="gidigan-info-text mt-10">Gidigan</p>
                        <p class="gidigan-brief mt-5">An online service creators and professionals <br> can use to buy and sell products and services </p>
                        <div class="flex mt-14">
                            <i class="ph-timer-bold" style="color: #9D9D9F; font-size: 20px;"></i>
                            <p class="ml-2.5 mt-7 timer-text">12 min read</p>
                        </div>
                        
                    </div>
                    <div class="grid justify-items-end ml-60 left-margin">
                        <div class="flex mt-10 ">
                            <div class="project-type-btn flex browswer-btn">
                                <i class="ph-globe mb-2" style="color: #9D9D9F; font-size: 16px;"></i>
                                <p class="browswer-btn-text"> Browser App</p>
                            </div>
                            <div class="project-type-btn saas-btn ml-2.5">
                                <p>SaaS</p>
                            </div>
                        </div>
                        <a class="" href="">
                            <div class="case-study-btn flex mt-28">
                                <p>Read case study </p> 
                                <i class="ph-arrow-line-up-right mb-2.5" style="color: #9D9D9F; font-size: 24px;"></i>
                            </div>
                        </a>
                    </div>
                </section>
            </section>

            <section class="portfolio-card mt-20">
                <section class="flex">
                    <div>
                        <img class="betweysure-image" src="./images/betweysure.png" alt="">
                    </div>
                    <div class="gidigan-info pl-8">
                        <p class="gidigan-info-text mt-10">Betweysure</p>
                        <p class="gidigan-brief mt-5">Betweysure is a football forecast & prediction <br> platform for punters and gamblers </p>
                        <div class="flex mt-14">
                            <i class="ph-timer-bold" style="color: #9D9D9F; font-size: 20px;"></i>
                            <p class="ml-2.5 mt-7 timer-text">11 min read</p>
                        </div>
                        
                        
                    </div>
                    <div class="grid justify-items-end ml-60 left-margin">
                        <div class="flex mt-10 ">
                            <div class="project-type-btn flex browswer-btn">
                                <i class="ph-globe mb-2" style="color: #9D9D9F; font-size: 16px;"></i>
                                <p class="browswer-btn-text"> Browser App</p>
                            </div>
                            <div class="project-type-btn saas-btn ml-2.5">
                                <p>Sports</p>
                            </div>
                        </div>
                        
                        <a class="" href="">
                            <div class="case-study-btn flex mt-28">
                                <p>Read case study </p> 
                                <i class="ph-arrow-line-up-right mb-2.5" style="color: #9D9D9F; font-size: 24px;"></i>
                            </div>
                        </a>
                        
                    </div>
                </section>
            </section>

            <section class="portfolio-card mt-20">
                <section class="flex">
                    <div>
                        <img class="liberterra-image" src="./images/liberterra.png" alt="">
                    </div>
                    <div class="block gidigan-info pl-8">
                        <p class="gidigan-info-text mt-10">LiberTerra</p>
                        <p class="gidigan-brief mt-5">A secure platform for property sales & <br> management services in Nigeria and the UK </p>
                        <div class="flex mt-14">
                            <i class="ph-timer-bold" style="color: #9D9D9F; font-size: 20px;"></i>
                            <p class="ml-2.5 mt-7 timer-text">8 min read</p>
                        </div>
                        
                    </div>
                    
                    <div class="ml-64 grid justify-items-end">
                        <div class="flex mt-10 ">
                            <div class="project-type-btn flex browswer-btn">
                                <i class="ph-globe mb-2" style="color: #9D9D9F; font-size: 16px;"></i>
                                <p class="browswer-btn-text"> Browser App</p>
                            </div>
                            <div class="project-type-btn saas-btn ml-2.5">
                                <p>Real Estate</p>
                            </div>
                        </div>
                        
                        <a class="" href="">
                            <div class="case-study-btn flex mt-28">
                                <p>Read case study </p> 
                                <i class="ph-arrow-line-up-right mb-2.5" style="color: #9D9D9F; font-size: 24px;"></i>
                            </div>
                        </a>
                        
                    </div>
                </section>
            </section>
        </section>
        
        

         <!-- portfolio grid hidden by default-->
        <section id="grid">
            <section class="flex">
                <section class="portfolio-grid mt-5">
                <!-- <img src="./images/gidigan-grid.png" alt=""> -->
                    <div class="portfolio-grid-info flex content-end">
                        <div>
                        <p class="gidigan-info-text gidigan-grid-info-text">Gidigan</p>
                            <div class="">
                                <div class="flex mt-5">
                                    <div class="project-type-btn flex browswer-btn">
                                        <i class="ph-globe mb-2" style="color: #9D9D9F; font-size: 16px;"></i>
                                        <p class="browswer-btn-text"> Browser App</p>
                                    </div>
                                    <div class="project-type-btn saas-btn ml-2.5">
                                        <p>Real Estate</p>
                                    </div>
                                </div>
                                <!-- <div>
                                    <a href="">Read case study <i class="ph-arrow-line-up-right" style="color: #9D9D9F; font-size: 16px;"></i></a>
                                </div> -->
                                
                            </div>
                        </div>
                

                    </div>
                </section>

                <section class="portfolio-grid portfolio-grid-betweysure mt-5 ml-20">
                    <div class="portfolio-grid-info flex content-end">
                        <div>
                            <p class="gidigan-info-text gidigan-grid-info-text">Betweysure</p>
                            <div class="">
                                <div class="flex mt-5">
                                    <div class="project-type-btn flex browswer-btn">
                                        <i class="ph-globe mb-2" style="color: #9D9D9F; font-size: 16px;"></i>
                                        <p class="browswer-btn-text"> Browser App</p>
                                    </div>
                                    <div class="project-type-btn saas-btn ml-2.5">
                                        <p>Real Estate</p>
                                    </div>
                                </div>
                                <!-- <div>
                                    <a href="">Read case study <i class="ph-arrow-line-up-right" style="color: #9D9D9F; font-size: 16px;"></i></a>
                                </div> -->
                                    
                            </div>
                        </div>
                    

                    </div>
                </section>
            </section>

            <section class="portfolio-grid portfolio-grid-liberterra mt-20">
            
                    <div class="portfolio-grid-info flex content-end">
                        <div>
                        <p class="gidigan-info-text gidigan-grid-info-text">LiberTerra</p>
                            <div class="">
                                <div class="flex mt-5">
                                    <div class="project-type-btn flex browswer-btn">
                                        <i class="ph-globe mb-2" style="color: #9D9D9F; font-size: 16px;"></i>
                                        <p class="browswer-btn-text"> Browser App</p>
                                    </div>
                                    <div class="project-type-btn saas-btn ml-2.5">
                                        <p>Real Estate</p>
                                    </div>
                                </div>
                                <!-- <div>
                                    <a href="">Read case study <i class="ph-arrow-line-up-right" style="color: #9D9D9F; font-size: 16px;"></i></a>
                                </div> -->
                                
                            </div>
                        </div>
                

                    </div>
            </section>
        </section> 
        
        <!-- portfolio grid ends-->
    </section> 
    <!-- portfolio section ends -->


    <!-- footer begins -->
    <footer class="mt-12 mb-40">
        
        <h2 class="footer-text">
            Enjoying yourself? 😅
        </h2>
        <h2 class="footer-text">
            Let's Talk!
        </h2>
        <p class="footer-text-two">I'd love to hear about your next big idea.</p>
        <div class="flex gap-14">
            <a href=""><i class="ph-envelope-open" style="color: #9D9D9F; font-size: 50px;"></i></a>
            <a href=""><i class="ph-medium-logo" style="color: #9D9D9F; font-size: 50px;"></i></a>
            <a href=""><i class="ph-linkedin-logo" style="color: #9D9D9F; font-size: 50px;"></i></a>
        </div>
        <p class="copyrights">Designed by Me <span class="divider mr-5 ml-2.5"></span> Developed by <a href=""> Sarah</a></p>
        <!-- <div class="cta" style="border: 1px solid red;">
            <i class="ph-bold ph-arrow-circle-up" style="color: #FCFCFC; font-size: 32px;"></i>
        </div> -->
    </footer>

    <!-- footer ends -->

    <script src="/main.js"></script>
</body>
</html>

