<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <title>Kene's Portfolio</title>
     <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/site-icon.png"
    />
</head>
<body class="">
    <!-- header section -->
    <header class="">
        <nav>
            <ul class="flex justify-between">
                <div class="flex left-nav">
                    <li>
                        <a class="" href="#"><img src="./images/logo-white2.png" alt="kene's logo; the letter K in white color"></a>
                    </li>
                    <li class="collectibles">
                        <a class="" href="#"><i class="ph-gift" style="color: #9D9D9F; font-size: 20px;"></i><span>Collectibles</span> </a>
                    </li>
                </div>
                
                <div class="flex right-nav">
                    <li>
                        <a class="" href="#"><i class="ph-file-pdf" style="color: #9D9D9F; font-size: 20px;"></i><span>Resumé</span> </a>
                    </li>
                    <li>
                        <a class="" href="#"><i class="ph-envelope-open" style="color: #9D9D9F; font-size: 20px;"></i><span>Contact</span> </a>
                    </li>
                    <div class="sun-circle">
                        <li>
                            <a class="" href="#"><i class="ph-sun-dim-fill" style="color: #9D9D9F; font-size: 20px;"></i></a>
                        </li>
                    </div>
                </div>
            </ul>
        </nav>
    </header>
    <!-- end header section -->

    <!-- hero section -->
    <section class="flex hero-container">
        <section class="flex profile-section">
            <!-- profile area -->
            <section class="profile-text-section">
                <p class="">
                    Hello. I'm Kene. A product designer with over two (2) years of experience, creating and shipping products people love. 
                </p>
                <div>
                    <p>
                        Press <span>E</span> and learn about my experience <br></br>
                        Press <span>S</span> and learn about my skills
                    </p>
                </div>
            </section>
            <section>
                <div class="profile-image">
                    <img src="./images/profile-image.png" alt="an illustration of kene wearing glasses judt off his face">

                </div>
                <div class="skills-background">
                    <a href=""><img src="./images/ae.png" alt=""></a>
                </div>
                <div class="skills-background">
                    <a href=""><img src="./images/ai.png" alt=""></a>
                </div>
                <div class="skills-background">
                    <a href=""><img src="./images/ps.png" alt=""></a>
                </div>
                <div class="skills-background">
                    <a href=""><img src="./images/figma-logo.png" alt=""></a>
                </div>
                <div>
                    <p><i class="ph-circle-fill" style="color: green; font-size: 16px;"></i> Leading design at</p> 
                    <p><img src="./images/pivo-logo.png" alt="an image showing the logo icon for pivo africa in white color"> Pivo Africa</p> 
                </div>
            </section>
        </section>
    </section>
    <!-- end hero section -->

    <!-- portfolo section begins-->
    <section>
        <ul>
            <div>
                <li>
                    <a href="">Highlighted Works</a>
                </li>
                <li>
                    <a href="">Minimum Viable Products</a>
                </li>
                <li>
                    <a href="">Designing for Growth</a>
                </li>
                <li>
                    <a href="">Illustrations</a>
                </li>
            </div>

            <!-- filter section  -->
            <div>
                <i class="ph-list-fill" style="color: #9D9D9F; font-size: 16px;"></i>
                <span class="divider"></span>
                <i class="ph-grid-four-thin" style="color: #9D9D9F; font-size: 16px;"></i>
            </div>
            <!-- filter section  -->

        </ul>

        <!-- portfolio -->
        <section>
            <section>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <p>Gidigan</p>
                    <p>An online service creators and professionals can use to buy and sell products and services </p>
                    <p><i class="ph-timer" style="color: #9D9D9F; font-size: 16px;"></i>12 min read</p>
                </div>
                <div>
                    <div>
                       <a href=""> <i class="ph-globe" style="color: #9D9D9F; font-size: 16px;"></i>Browser App</a>
                    </div>
                    <div>
                        <a href="">SaaS</a>
                    </div>
                    <div>
                        <a href="">Read case study <i class="ph-arrow-line-up-right" style="color: #9D9D9F; font-size: 16px;"></i></a>
                    </div>
                    
                </div>
            </section>
        </section>

         <!-- portfolio grid -->
        <section>
            <img src="" alt="">
            <div>
                <p>Gidigan</p>
                <div>
                    <div>
                        <a href=""> <i class="ph-globe" style="color: #9D9D9F; font-size: 16px;"></i>Browser App</a>
                    </div>
                    <div>
                        <a href="">SaaS</a>
                    </div>
                    <div>
                        <a href="">Read case study <i class="ph-arrow-line-up-right" style="color: #9D9D9F; font-size: 16px;"></i></a>
                    </div>
                        
                </div>

            </div>
        </section>
        <!-- portfolio grid ends-->
    </section> 
    <!-- portfolio section ends -->

    
    <!-- footer begins -->
    <footer>
        <h2>
            Enjoying yourself? 😅
        </h2>
        <h2>
            Let's Talk!
        </h2>
        <p>I'd live to hear about your next big idea.</p>
        <div>
            <i class="ph-envelope-open" style="color: #9D9D9F; font-size: 30px;"></i>
            <i class="ph-medium-logo" style="color: #9D9D9F; font-size: 30px;"></i>
            <i class="ph-linkedin-logo" style="color: #9D9D9F; font-size: 30px;"></i>
        </div>
        <p>Designed by me <span class="divider"></span> Developed by <a href=""> Sarah</a></p>
    </footer>

    <!-- footer ends -->
</body>
</html>

