* {
    box-sizing: border-box;
    font-size: 62.2%;
    font-family: 'Lexend', sans-serif;
    margin: 0;
}

body {
    background-color: rgba(11, 10, 15, 1);
}

/* header section begins*/
header {
    display: flex;
    flex-direction: row;
    padding: 18px 192px;
    position: fixed;
    width: 1512px;
    height: 80px;
    background: rgba(11, 10, 15, 0.3);
    backdrop-filter: blur(8px);
    z-index: 1000;
}

li,
.collectibles,
.resume {
    font-weight: 500;
    color: #FCFCFC;
    font-size: 1.6rem;
    line-height: 2.3rem;
}

nav,
.left-nav,
.left-nav>li,
.right-nav {
    width: 100%;
}

.right-nav>li {
    margin-right: 5%;
}

.right-nav {
    margin-left: 40%;
}

.sun-circle {
    width: 38px;
    height: 38px;
    background: #232327;
    border-radius: 100%;
}

i {
    margin-top: 4%;
}

.ph-sun-dim-fill {
    margin: 22% 22%;

}

/* header section ends */

/* hero section begins */
.hero-container {
    padding: 18px 192px;
}

.profile-section {
    width: 100%;
    padding-top: 5%;
    margin-top: 7%;
}

.profile-text-section {
    width: 636.31px;
}

.profile-text-section>p,
.profile-text-section>p~div {
    font-weight: 500;
    padding-top: 6.0%;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: #FCFCFC;
}

.profile-section .experience-text {
    font-size: 2.4rem;
}

.profile-section .article-text,
.article-text>span {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #9D9D9F;
}

.article-text>span {
    background: linear-gradient(90deg, #654EA3 0%, #EAAFC8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.profile-text-section>div {
    font-size: 2.0rem;
    line-height: 2.4rem;
    margin-top: 60px;
}

.experience-text-2 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #CECECF;

}

.work-history,
.skill {
    display: none;
}

.about-bio {
    display: block;
}

.keypress-btn {
    width: 56px;
    height: 24px;
    background: #FCFCFC;
    color: #0B0A0F;
    border-radius: 4px;
    padding: 0px 8px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.reset-btn {
    background: #CECECF;

}

.reset-text {
    color: #9D9D9F;

}

.experience-text3 {
    margin-top: -37px;
}

.profile-image-section {
    margin-top: 30px;
}

.skills-background {

    background: #0B0A0F;
    width: 54px;
    height: 54px;
    border-radius: 100%;


}

.ae-btn-hover:hover {
    background: #00005B;
}

.live-btn {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: green;
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 140px;
}

@-webkit-keyframes glowing {
    0% {

        -webkit-box-shadow: 0 0 3px green;
    }

    50% {

        -webkit-box-shadow: 0 0 20px green;
    }

    100% {

        -webkit-box-shadow: 0 0 3px green;
    }
}

@-moz-keyframes glowing {
    0% {

        -moz-box-shadow: 0 0 3px green;
    }

    50% {

        -moz-box-shadow: 0 0 20px green;
    }

    100% {

        -moz-box-shadow: 0 0 3px green;
    }
}

@-o-keyframes glowing {
    0% {

        box-shadow: 0 0 3px green;
    }

    50% {

        box-shadow: 0 0 20px green;
    }

    100% {

        box-shadow: 0 0 3px green;
    }
}

@keyframes glowing {
    0% {

        box-shadow: 0 0 3px green;
    }

    50% {

        box-shadow: 0 0 20px green;
    }

    100% {

        box-shadow: 0 0 3px green;
    }
}

.ae-btn,
.ae-icon-hover {
    margin-top: -285px;
    margin-left: 40px;
    transition: 0.3s;

}

.ai-btn,
.ai-icon-hover {
    margin-top: -225px;
    transition: 0.3s;
    margin-left: 140px;
}

.ps-btn,
.ps-icon-hover {
    margin-top: -65px;
    margin-left: -80px;
    transition: 0.3s;
}

.ps-icon-hover {
    margin-left: 15px;
    margin-top: -18px;
    display: none;
}

.ps-btn-hover:hover {
    background: #001E36;
}

.figma-btn {
    margin-top: -105px;
    margin-left: -270px;
    transition: 0.3s;
}

.ae-icon {
    margin-top: 15px;
    margin-left: 10px;
    /* border: 1px solid red; */
}

.ae-icon-hover {
    margin-left: 10px;
    margin-bottom: 13px;
    margin-top: 15px;
    /* border: 1px solid red; */
    display: none;

}

.ai-icon-hover {
    margin-left: 15px;
    margin-bottom: 13px;
    margin-top: 15px;
    display: none;
}

.ai-btn-hover:hover {
    background: #330000;
}

.ai-icon,
.ps-icon,
.figma-icon,
.figma-icon-hover {
    margin-top: 15px;
    margin-left: 15px;

    /* border: 1px solid red; */
}

.figma-icon,
.figma-icon-hover {
    margin-left: 17px;
}

.profile-section2 {
    margin-left: 120px;
}

.figma-icon-hover {
    margin-top: 14px;
    display: none;

}

.figma-btn-hover:hover {
    background: #2C2F42;
}

.profile-status-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #6D6C6F;
    margin-left: 10px;
}

.pivo-logo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #FCFCFC;
}

.ph-circle-fill {
    margin-left: 140px;

}

.portfolio-container {

    /* height: 900px; */
    padding: 18px 192px;
}

.portfolio-category li {
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: #FCFCFC;
    /* border: 1px solid red; */
    margin: 8px;
}

.portfolio-container ul {
    width: 100%;
    height: 56px;
    /* border: 1px solid blue; */
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-category-text {
    color: #979494;
}

.active {
    padding: 8px 16px;

    border-radius: 100px;
    border: 1px solid var(--gradients-ultraviolet, #654EA3);
}

.filter-section:hover {
    cursor: pointer;
}

.divider {
    margin-top: 6px;
    width: 0px;
    height: 16px;
    border: 1px solid #6D6C6F;
}

.portfolio-card {
    height: 217px;
    width: 100%;
    border: 1px solid #CFCCCC;
    border-radius: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 8px;
    display: block;
}

.gidigan-image,
.betweysure-image,
.liberterra-image {
    border-radius: 16px 0 0 16px;
}


.gidigan-info-text {
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: #CECECF;
}

.gidigan-brief {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #9D9D9F;
    /* max-width: 500px; */
}

.case-study-text {
    width: 140px;
}

.timer-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #CECECF;

}

.project-type-btn {
    padding: 4px 8px;
    gap: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 105px;
    height: 24px;
    color: #CECECF;
    background: #232327;
    border-radius: 100px;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.6rem;
    color: #CECECF;
}

.browser-btn {
    width: 145px;
}

.case-study-btn {
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;
    width: 200px;
    height: 48px;
    background: #0B0A0F;
    border: 1px solid #9D9D9F;
    box-shadow: -1px -1px 8px rgba(255, 255, 255, 0.3), 1px 1px 8px rgba(255, 255, 255, 0.3);
    border-radius: 4px;

}

.case-study-btn p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #9D9D9F;
}


.portfolio-grid {
    display: block;
    width: 500px;
    height: 217px;
    border: 1px solid #CFCCCC;
    border-radius: 16px;
    background: url(./gidigan-grid.png);
}

.portfolio-grid-betweysure {
    background: url(./betweysure-grid.png);
}

.portfolio-grid-liberterra {
    background: url(./liberterra-grid.png);
}

.portfolio-grid-portfolio {
    background: url(./portfolio-grid.png);
}

.portfolio-grid-pivo {
    background: url(./pivo-grid.png);
}

.card-cta {
    margin-left: 195px;
}


.portfolio-grid-info {
    width: 498px;
    height: 88px;
    background: rgba(11, 10, 15, 0.8);
    backdrop-filter: blur(4px);
    /* z-index: 1; */
    border-radius: 0 0 16px 16px;
    margin-top: 127px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gidigan-grid-info-text {
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;

}

/* case study */

.main-header {
    height: 300px;
    padding-top: 100px;

}

.case-study-container {
    padding: 18px 192px;
}

.breadcrumbs {
    color: var(--black-40, #9D9D9F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
    /* 133.333% */
}

.page-title {
    color: var(--white-100, #FCFCFC);

    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.8rem;

}

.page-sub-title {
    color: var(--black-40, #9D9D9F);

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Lexend;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;

}

.portfolio-cta {
    border-radius: 100px;
    background: var(--black-90, #232327);
    width: 34px;
    height: 14px;
    padding: 4px 8px;
}

.portfolio-cta-text {
    margin-top: -14px;
    text-align: center;
}

.overview-item-title {
    color: var(--black-20, #CECECF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    /* 150% */
}

.overview-item {
    width: 256px;
    height: 184px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 24px;
    border: 2px solid var(--black-90, #232327);
}

.overview-item-text {
    color: var(--white-100, #FCFCFC);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Lexend;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.4rem;
    margin-top: 16px;
}

.read-time {
    color: var(--black-20, #CECECF);
    font-feature-settings: 'clig' off, 'liga' off;
    /* font-family: Lexend; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;

}

.kpi-list {
    margin-top: 16px;
    margin-left: 25px;
}

.methods-used {
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 32px;
    border: 2px solid var(--black-90, #232327);
    height: 224px;
}

.kpi-list li {
    list-style-type: disc;
    /* margin: 7px; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.4rem;
    color: var(--white-100, #FCFCFC);
    /* margin-top: 16px; */
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    height: 264px;
    text-align: center;
}

.footer-text {
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: #CECECF;
}

.footer-text-two {
    font-size: 2.4rem;
    line-height: 3.2rem;

    color: #9D9D9F;
}

.copyrights,
.copyrights a {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #9D9D9F;
}

.copyrights a {

    color: #CECECF;
    text-decoration: underline;
}

.cta {

    margin-left: 500px;
    margin-bottom: 500px;
}


.ae-text,
.ai-text,
.ps-text,
.figma-text {
    display: none;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    width: 324px;
    height: 122px;
    background: #0B0A0F;
    padding: 1.125rem 1.5rem;
    font-size: 2rem;
    line-height: 2.2rem;
    border-radius: 1rem;
    color: #CECECF;
    font-style: normal;
    font-weight: 400;
    right: 27rem;
    transition: 0.3s;
}



.ps-text,
.figma-text {
    bottom: 9px;
}

.ps-text {
    top: 5px
}

.figma-text {
    right: 24rem;
}

.ae-text::before,
.ai-text::before,
.ps-text::before,
.figma-text::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 28rem;
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: #0B0A0F;

}

.grid-container,
.methods-used-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.grid-item {
    flex: 1;
    min-width: calc(50% - 15px);
    height: 262px;
    padding: 10px;
}

.methods-used-items {
    flex: 1;
    min-width: calc(25% - 15px);
    /* height: 262px; */
    padding: 15px;
}

.methods-used-title {
    color: var(--black-60, #6D6C6F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;
    /* 133.333% */
}

.methods-used-text {
    color: var(--black-20, #CECECF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.4rem;
    /* 150% */
}

.tools-used {
    padding: 40px 32px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 32px;
    border: 2px solid var(--black-90, #232327);
    height: 190px;
}

.tools-used-title {
    color: var(--black-60, #6D6C6F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.2rem;
    /* 133.333% */
}

.tools-used-text {
    color: var(--black-20, #CECECF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    /* 150% */
}

.tools-icon-background {
    height: 54px;
    padding: 12.68px 12px 13.32px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 120px;
    background: #07074F;
    width: 54px;
}

.google-sheets {
    background: #033015;
}

.research-section {
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
    border-radius: 32px;
    border: 2px solid var(--black-90, #232327);

}

.research-section-title {
    color: var(--black-60, #6D6C6F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.2rem;
    /* 133.333% */
}

.research-section-title-text {
    color: var(--black-20, #CECECF);
    font-feature-settings: 'clig' off, 'liga' off;

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    /* 150% */
}



.research-section-title-text-list li {
    list-style-type: disc;
    font-weight: 300;
    margin-left: 28px;
    font-size: 1.5rem;
}

.research-section-tip {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--black-80, #3C3B3F);
}

.research-section-tip-text {
    color: var(--black-40, #9D9D9F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.4rem;
    /* 171.429% */
}

.research-finding-title {
    color: var(--black-60, #6D6C6F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    /* 150% */
}

.research-finding-title-text {
    color: var(--black-20, #CECECF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;

}

.user-personas-card {
    display: flex;
    width: 318px;
    height: 412px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 16px; */
    border-radius: 24px;
    background: var(--black-90, #232327);
}

.user-personas-title {
    color: var(--black-60, #6D6C6F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    /* 150% */
}

.user-personas-text {
    color: var(--black-10, #E7E7E7);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    /* 150% */
}

.personas-name {
    color: var(--black-20, #CECECF);
    font-feature-settings: 'clig' off, 'liga' off;

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    /* 150% */
}

.personas-title {
    color: var(--black-40, #9D9D9F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
}

.personas-subtitle {
    color: var(--white-100, #FCFCFC);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.4rem;
    /* 171.429% */
}

.personas-goals {
    color: var(--black-40, #9D9D9F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.3rem;
}

.competitor-research-card {
    /* display: flex; */
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 24px;
    background: var(--black-90, #232327);
    Width: 38.67px;
    Height: 112px;
}

.competitor-research-card-title {
    color: var(--black-20, #CECECF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    /* 150% */
}

.competitor-research-card-subtitle {
    color: var(--white-100, #FCFCFC);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.4rem;
}

.competitor-name {
    gap: 160px;
}

.design-assessment-section {
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 32px;
    border: 2px solid var(--black-90, #232327);
}

.design-assessment-section-title {
    color: var(--black-60, #6D6C6F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.2rem;
}

.design-assessment-section-text {
    color: var(--black-20, #CECECF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    /* 150% */
}

.what-worked,
.what-didnt-work {
    width: 200px;
    padding: 4px 8px;
    border-radius: 8px;
    background: var(--green-160, #305830);
}

.what-didnt-work {
    background: var(--yellow-160, #656030);
}

.assessment-text {
    color: var(--black-20, #CECECF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    /* 171.429% */
}

.description-backgroud {
    padding: 4px 8px;
    border-radius: 8px;
    background: var(--black-90, #232327);
}

.description-border {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--black-80, #3C3B3F);
}

.ideation-architecture-section {
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
    border-radius: 32px;
    border: 2px solid var(--black-90, #232327);
}

.ideation-architecture-section-title,
.lofi-wireframes-section-title,
.style-guide-section-title,
.prototype-section-title {
    color: var(--black-60, #6D6C6F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.2rem;
    /* 133.333% */
}

.ideation-architecture-section-text,
.lofi-wireframes-section-text,
.style-guide-section-text,
.prototype-section-text {
    color: var(--black-20, #CECECF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.8rem;
    /* 150% */
}

.prototype-section-text-1 {
    font-size: 2.4rem;
    font-weight: 400;
}

.prototype-section-list {
    list-style-type: decimal;
}

.interactive-hero-section-list {
    list-style-type: disc;
}

.lofi-wireframes-section,
.style-guide-section {
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 32px;
    border: 2px solid var(--black-90, #232327);
}

.theme-section {
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.color-preference-text {
    color: var(--black-40, #9D9D9F);
    /* font-family: Lexend; */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
}

.color-preference-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.colors-container {
    /* display: flex; */
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.color-type {
    color: var(--black-80, #3C3B3F);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hex-text {
    color: var(--black-60, #727272);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hex-code {
    color: var(--white-100, #FCFCFC);

    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.primary-typeface,
.primary-typefacefont {
    color: var(--black-20, #CECECF);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.4rem;
    text-decoration: underline;
}

.primary-typefacefont {
    color: var(--white-100, #FCFCFC);

}

.Aa {
    color: var(--white-100, #FCFCFC);
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.characters {
    color: var(--white-100, #FCFCFC);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
}

.theme-section-text {
    color: var(--black-20, #CECECF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    /* 150% */
}

.style-guide-section-text-list {
    list-style-type: disc;
}

.prototype-section {
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
    border-radius: 32px;
    border: 2px solid var(--black-90, #232327);
}

.prototpe-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 88px;
    align-self: stretch;
}

.interactive-hero-section {
    display: flex;
    padding: 32px 0px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.bottom-navigation-section {
    display: flex;
    padding: 32px 0px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.mobile-prototype {
    display: flex;
    align-items: flex-start;
    gap: 88px;
    flex: 1 0 0;
}

.bottom-navigation-text {
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.light-and-dark-mode {
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.light-and-dark-mode-text-area {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.light-and-dark-mode-screen-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.conclusion-section {
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 32px;
    border: 2px solid var(--black-90, #232327);
}

.conclusion-section-main-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.conclusion-section-list {
    list-style-type: decimal;
}

.thank-you-section {
    display: flex;
    align-items: flex-start;
}

.thank-you-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.thank-you-text {
    color: var(--black-60, #6D6C6F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;
    margin-left: 395px;
}

.next-page {
    color: var(--black-20, #CECECF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
}

.case-study-project-type-btn {
    width: 85px;
    height: 32px;
    border-radius: 100px;
    background: var(--black-90, #232327);
    color: var(--black-20, #CECECF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem;

    padding: 4px 8px;
    justify-content: center;
    align-items: center;

    /* 171.429% */
    /* 171.429% */
}

.footer-section {
    background: url(./footer-backgroud.png);
    width: 1016px;
    height: 307px;
    flex-shrink: 0;
}