* {
    box-sizing: border-box;
    font-size: 62.2%;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

body {
    background-color: rgba(11, 10, 15, 1);

}

/* header section begins*/
header {
    display: flex;
    flex-direction: row;
    padding: 18px 192px;
    position: fixed;
    width: 1512px;
    height: 80px;
    background: rgba(11, 10, 15, 0.3);
    backdrop-filter: blur(8px);
    z-index: 1000;
}

li,
.collectibles,
.resume {
    font-weight: 500;
    color: #FCFCFC;
    font-size: 1.6rem;
    line-height: 2.3rem;
}

nav,
.left-nav,
.left-nav>li,
.right-nav {
    width: 100%;
}

.right-nav>li {
    margin-right: 5%;
}

.right-nav {
    margin-left: 40%;
}

.sun-circle {
    width: 38px;
    height: 38px;
    background: #232327;
    border-radius: 100%;
}

i {
    margin-top: 4%;
}

.ph-sun-dim-fill {
    margin: 22% 22%;

}

/* header section ends */

/* hero section begins */
.hero-container {
    height: 600px;
    padding: 18px 192px;

}

.profile-section {

    width: 100%;
    padding-top: 5%;
    margin-top: 7%;
}



.profile-text-section {
    width: 636.31px;

}

.profile-text-section>p,
.profile-text-section>p~div {
    font-weight: 500;
    padding-top: 6.0%;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: #FCFCFC;
}

.profile-text-section>div {
    font-size: 2.0rem;
    line-height: 2.4rem;
    margin-top: 60px;
}

.keypress-btn {
    width: 56px;
    height: 24px;
    background: #FCFCFC;
    color: #0B0A0F;
    border-radius: 4px;
    padding: 0px 8px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.profile-image-section {
    margin-top: 30px;
}

.skills-background {

    background: #0B0A0F;
    width: 54px;
    height: 54px;
    border-radius: 100%;

}

.live-btn {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: green;
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 140px;
}

@-webkit-keyframes glowing {
    0% {

        -webkit-box-shadow: 0 0 3px green;
    }

    50% {

        -webkit-box-shadow: 0 0 20px green;
    }

    100% {

        -webkit-box-shadow: 0 0 3px green;
    }
}

@-moz-keyframes glowing {
    0% {

        -moz-box-shadow: 0 0 3px green;
    }

    50% {

        -moz-box-shadow: 0 0 20px green;
    }

    100% {

        -moz-box-shadow: 0 0 3px green;
    }
}

@-o-keyframes glowing {
    0% {

        box-shadow: 0 0 3px green;
    }

    50% {

        box-shadow: 0 0 20px green;
    }

    100% {

        box-shadow: 0 0 3px green;
    }
}

@keyframes glowing {
    0% {

        box-shadow: 0 0 3px green;
    }

    50% {

        box-shadow: 0 0 20px green;
    }

    100% {

        box-shadow: 0 0 3px green;
    }
}

.ae-btn {
    margin-top: -285px;
    margin-left: 40px;

}

.ai-btn {
    margin-top: -225px;
    margin-left: 140px;
}

.ps-btn {
    margin-top: -65px;
    margin-left: -80px;
}

.figma-btn {
    margin-top: -105px;
    margin-left: -270px;
}

.ae-icon {
    margin-top: 15px;
    margin-left: 10px;
    /* border: 1px solid red; */
}

.ai-icon,
.ps-icon,
.figma-icon {
    margin-top: 15px;
    margin-left: 15px;
    /* border: 1px solid red; */
}

.figma-icon {
    margin-left: 17px;
}

.profile-section2 {
    margin-left: 120px;
}

.profile-status-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6D6C6F;
    margin-left: 10px;
}

.pivo-logo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #FCFCFC;
}

.ph-circle-fill {
    margin-left: 140px;

}

.portfolio-container {

    /* height: 900px; */
    padding: 18px 192px;
}

.portfolio-category li {
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: #FCFCFC;
    /* border: 1px solid red; */
    margin: 8px;
}

.portfolio-container ul {
    width: 100%;
    height: 56px;
    /* border: 1px solid blue; */
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-category-text {
    color: #979494;
}

.filter-section:hover {
    cursor: pointer;
}

.divider {
    margin-top: 6px;
    width: 0px;
    height: 16px;
    border: 1px solid #6D6C6F;
}

.portfolio-card {
    height: 217px;
    width: 100%;
    border: 1px solid #CFCCCC;
    border-radius: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 8px;
    display: block;
}

.gidigan-image,
.betweysure-image,
.liberterra-image {
    border-radius: 16px 0 0 16px;
}


.gidigan-info-text {
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: #CECECF;
}

.gidigan-brief {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #9D9D9F;
    max-width: 100%;
}



.timer-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #CECECF;
}

.project-type-btn {
    padding: 4px 8px;
    gap: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 105px;
    height: 24px;
    color: #CECECF;
    background: #232327;
    border-radius: 100px;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.6rem;
    color: #CECECF;
}

.case-study-btn {
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;
    width: 197px;
    height: 48px;
    background: #0B0A0F;
    border: 1px solid #9D9D9F;
    box-shadow: -1px -1px 8px rgba(255, 255, 255, 0.3), 1px 1px 8px rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    /* margin-left: 166px; */
}

.case-study-btn p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #9D9D9F;
}

.left-margin {
    margin-left: 143px;
}

.portfolio-grid {
    display: block;
    width: 500px;
    height: 217px;
    border: 1px solid #CFCCCC;
    border-radius: 16px;
    background: url(./gidigan-grid.png);
}

.portfolio-grid-betweysure {
    background: url(./betweysure-grid.png);
}

.portfolio-grid-liberterra {
    background: url(./liberterra-grid.png);
}

.portfolio-grid-info {
    width: 498px;
    height: 88px;
    background: rgba(11, 10, 15, 0.8);
    backdrop-filter: blur(4px);
    /* z-index: 1; */
    border-radius: 0 0 16px 16px;
    margin-top: 127px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gidigan-grid-info-text {
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    height: 264px;
    text-align: center;
}

.footer-text {
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: #CECECF;
}

.footer-text-two {
    font-size: 2.4rem;
    line-height: 3.2rem;

    color: #9D9D9F;
}

.copyrights,
.copyrights a {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #9D9D9F;
}

.copyrights a {

    color: #CECECF;
    text-decoration: underline;
}